<div class="settings-widget profile-details">
    <div class="settings-menu p-0">
        <div class="profile-heading">
            <h3>Profile Details</h3>
            <p>You have full control to manage your own account setting.</p>
        </div>
        <div class="course-group mb-0 d-flex">
          <div class="form-group ">
            <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
                <img (error)="changeSource($event)"        [src]="editproRequest.avatar" class="rounded-circle" width="100px" height="100px" />
                <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)"  [(ngModel)]="editproRequest.avatar" name="avatar">
            </button>
        </div>
        </div>
        <div class="checkout-form personal-address add-course-info ">
            <div class="personal-info-head">
                <h4>Personal Details</h4>
                <p>Edit your personal information and address.</p>
            </div>

            <form action="#">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Full Name</label>
                            <input type="text" class="form-control" placeholder="Enter your first Name" [(ngModel)]="editproRequest.fullname" name="fullname">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input type="text" class="form-control" placeholder="Enter your email" [(ngModel)]="editproRequest.email" name="email">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label"> Biography</label>
                            <input type="text" class="form-control" placeholder="Enter your Biography"  [(ngModel)]="editproRequest.biography" name="biography">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Adresse</label>
                            <input type="text" class="form-control" placeholder="Enter your adresse" [(ngModel)]="editproRequest.adresse" name="adresse">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Phone</label>
                            <input type="text" class="form-control" placeholder="Enter your phone number " [(ngModel)]="editproRequest.phone" name="phone">
                        </div>
                    </div>






                    <div class="update-profile">
                        <button type="button" (click)="updateprofilStagiaire()" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

