<div class="container" style="text-align: center" height="400" width="400">
    <h2>Qui je suis?</h2>
<div class="card" height="200" width="400">
    <div class="card-body" style="text-align: center"  >
        <img src="/assets/img/manager.jpg" alt="Image" height="200" width="300">
        <a
        class="nav-link header-login"
        [routerLink]="routes.register"
        >Manager</a
      >
        <p></p>
        <div class="card-body" style="text-align: center"  >
            <img src="/assets/img/expert.jpg" alt="Image" height="200" width="300">

            <a
        class="nav-link header-login"
        [routerLink]="routes.registerexpert"
        >Expert</a
      >
            <p></p>
        </div>

    </div>
  </div>


</div>
