<div class="row">
    <div class="col-md-12">
        <div class="settings-widget">
            <div class="settings-inner-blk p-0">
                <div class="sell-course-head comman-space">
                    <h3>Missions</h3>
                    <p>Manage your misions and update or delete it.</p>
                </div>
                <div class="comman-space pb-0">
                    <div class="instruct-search-blk">
                        <div class="show-filter choose-search-blk">
                            <form action="#">
                                <div class="row gx-2 align-items-center">
                                    <div class="col-md-6 col-item">
                                        <div class=" search-group">
                                            <i-feather name="search"></i-feather>
                                            <input type="text" class="form-control"
                                            [(ngModel)]="searchDataValue" name="one"
											(ngModelChange)="searchData(searchDataValue)"
                                                placeholder="Search our courses">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-item">
                                        <div class="form-group select-form mb-0">
                                            <mat-select class="form-select select"  [(value)]="selected">
                                                <mat-option value="1">Choose</mat-option>
                                                <mat-option value="angular">En cours</mat-option>
                                                <mat-option value="nodejs">En attente</mat-option>
                                                <mat-option value="react">Terminé</mat-option>
                                              </mat-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="settings-tickets-blk course-instruct-blk table-responsive">

                        <!-- Referred Users-->
                        <table class="table table-nowrap mb-2">
                            <thead>
                                <tr>
                                    <th >MISSIONS</th>
                                    <th class="text-center">EXPERTS</th>
                                    <th class="text-center">STATUT</th>
                                    <th class="text-center">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of missionn;" #itemElement>
                                    <td>
                                      {{data.title}}
                                        <div class="sell-table-group d-flex align-items-center">
                                          <!--   <div class="sell-group-img">
                                                <a [routerLink]="routes.page_course_details">
                                                    <img [src]="data.img1" class="img-fluid " alt="">
                                                </a>
                                            </div> -->
                                            <div class="sell-tabel-info">

                                                <div
                                                    class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <!-- <img [src]="data.img2" alt=""> -->
                                                        <p>{{data.dateDebut}}</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <!-- <img [src]="data.img3" alt=""> -->
                                                        <p>{{data.dateFin}}</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <!-- <div [ngClass]="{'progress-bar bg-success progress-bar-striped active-stip course-stip progress-stip course-bar': data.progress === 'progress stip'}" class="progress-bar bg-success progress-bar-striped active-stip"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">{{expertCountMap.get(data.id) }}</td>

                                    <td class="text-center"><span>{{data.statut}}</span></td>
                                    <td class="text-center"><span> <mat-icon class="editIcon" data-bs-toggle="modal" data-bs-target="#addempModal"  (click)="getMission(data.id)">edit</mat-icon></span>
                                      <span> <mat-icon class="editIcon" (click)="deleteMission(data.id)">delete</mat-icon></span>
                                      
                                      <span class="text-center" (click)="getPostuletByMission(data.id)" data-bs-toggle="modal" data-bs-target="#ListModalPostule">
                                        <mat-icon class="editIcon">list</mat-icon> <!-- Remplace 'info' par 'list' -->
                                      </span>

 <div class="modal fade " id="addempModal" tabindex="-1" role="dialog" aria-labelledby="addTeacherModalName" aria-hidden="true"  >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTeacherModalName" >Update Mission</h5>
            <button #closeModalBtn type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body col-md-12">
            <form action="!">
              <div class="form-group ">
                <label class="add-course-label">title</label>
                <input type="text" class="form-control" placeholder="Enter Field "[(ngModel)]="viewmodelmission.title" name="title"  />
                <small *ngIf="submitted && form.get('title')?.invalid" class="text-danger">Title est obligatoire</small> </div>
              <div class="form-group">
                <label class="add-course-label">Description</label>
                <textarea class="form-control" placeholder="Enter Field "[(ngModel)]="viewmodelmission.description" name="description" ></textarea>
                <small *ngIf="submitted && form.get('description')?.invalid" class="text-danger">Description est obligatoire</small>
              </div>

              <div class="form-group">
                <label class="add-course-label">date Debut</label>
                <input type="date" class="form-control" placeholder="Enter Date "[(ngModel)]="viewmodelmission.dateDebut" name="dateDebut" />
                <small *ngIf="submitted && form.get('dateDebut')?.invalid" class="text-danger">Date de debut est obligatoire</small>
                <br>
                <label class="add-course-label">date Fin</label>
                <input type="date" class="form-control" placeholder="Enter Date " [(ngModel)]="viewmodelmission.dateFin" name="dateFin"/>

                <small *ngIf="submitted && form.get('dateFin')?.invalid" class="text-danger">Date de debut est obligatoire</small>

              </div>


              <div class="form-group">
                <label class="add-course-label">Type de contrat</label>
                <mat-select class="form-select select country-select"   [(ngModel)]="viewmodelmission.typeContrat" name="TypeContrat">
                  <mat-option value="CDI">CDI</mat-option>
                  <mat-option value="CDD">CDD</mat-option>
                  <mat-option value="CIVP">CIVP</mat-option>


                </mat-select>
                <small *ngIf="submitted && form.get('typeContrat')?.invalid" class="text-danger">Type de contrat est obligatoire</small>

              </div>

              <div class="form-group">
                <label class="add-course-label">Type lieu</label>
                <mat-select class="form-select select country-select"    [(ngModel)]="viewmodelmission.typeLieu" name="TypeLieu">
                  <mat-option value="A distance">A distance</mat-option>
                  <mat-option value="Sur site">Sur site</mat-option>


                </mat-select>
                <small *ngIf="submitted && form.get('typeLieu')?.invalid" class="text-danger">Type de Lieu est obligatoire</small>

              </div>

              <p *ngIf="msgSuccess" style="color:green;size:20px" >{{msgSuccess}}</p>
              <div style="display: flex; justify-content: center;">

                <button type="submit"  class="btn btn-success-dark " style="width:150px ;margin-right:20px" >Update</button>

              </div>


            </form>

          </div>

        </div>
      </div>
    </div>



                                </tr>
                            </tbody>
                        </table>
                        <!-- /Referred Users-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="ListModalPostule" tabindex="-1" role="dialog" aria-labelledby="addTeacherModalName" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document"> <!-- Remplacement de 'modal-lg' par 'modal-xl' pour une plus grande modale -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTeacherModalName">Liste postule</h5>
        <button #closeModalBtns type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;"> <!-- Table responsive avec un max-height -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date postule</th>
                <th scope="col">Pourcentage de matching</th>
                <th scope="col">Expert</th>
                <th scope="col">Mission</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listPostuleoffre">
                <td>{{ item.id }}</td>
                <td>{{ item.datepostule | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.matchingPercentage | number:'1.2-2' }}%</td>
                <td>{{ item.expertdto.fullname }}</td>
                <td>{{ item.missionsdto.title }}</td>
                <td>
                  <div class="d-flex gap-2"> <!-- Flexbox pour aligner les boutons -->
                    <button #closeModalBtn type="button" class="btn btn-info" aria-label="Details"
                            (click)="navigateToProfil(item.expertdto.id)">
                      Profil expert
                    </button>
                    <button #closeModalBtn type="button" class="btn btn-info" aria-label="Details"
                    (click)="navigateToContrat(item.expertdto.id,item.missionsdto.id)">
                      Ajouter contrat
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


 
