<div class="modal-header">
  <h5 class="subs-title">Experience</h5>
  <mat-icon class="closeIcon" (click)="closeDialog()">close</mat-icon>
</div>
<div mat-dialog-content>
  <div class="edu-wrap" *ngFor="let item of data; let i = index">
    <div class="edu-name">
    </div>
    <div class="edu-detail" [formGroup]="experienceForms[i]">
      <h6>
        <span *ngIf="!editingtitle[i]">{{ item.title }}</span>
        <input *ngIf="editingtitle[i]" formControlName="heading" />
        <mat-icon class="icon" (click)="toggleEdit(i, 'heading')">
          {{ editingtitle[i] ? "check" : "edit" }}
        </mat-icon>
        <mat-icon class="icon" (click)="deleteprojet(i)">delete</mat-icon>
      </h6>
      <p>
        <span *ngIf="!editingnomSociete[i]">{{ item.nomSociete }} - ({{ item.dateDebut }} - {{ item.dateFin }})</span>
        <textarea *ngIf="editingnomSociete[i]" formControlName="nomSociete" style="min-width: 100%;"></textarea>
        <mat-icon class="icon" (click)="toggleEdit(i, 'nomsociete')">
          {{ editingnomSociete[i] ? "check" : "edit" }}
        </mat-icon>
      </p>
      <p class="edu-duration">
        <span *ngIf="!editingdescription[i]">{{ item.description }}</span>
        <input *ngIf="editingdescription[i]" formControlName="description" />
        <mat-icon class="icon" (click)="toggleEdit(i, 'description')">
          {{ editingdescription[i] ? "check" : "edit" }}
        </mat-icon>
      </p>

    </div>
  </div>

  <!-- New Experience Form -->
  <form
    class="new-edu-form"
    [formGroup]="newExperienceForm"
    *ngIf="addNewExperience"
    (ngSubmit)="addProjet()"
  >
    <h6>Add New Experience</h6>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Title</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="Title"
          />
          <span
            class="errors"
            *ngIf="
              newExperienceForm.get('title')!.hasError('required') &&
              newExperienceForm.get('title')!.touched
            "
          >
            Projet is required
          </span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Company</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="nomSociete"
            placeholder="Company and date"
          />
          <span
            class="errors"
            *ngIf="
              newExperienceForm.get('nomSociete')!.hasError('required') &&
              newExperienceForm.get('nomSociete')!.touched
            "
          >
            Company is required
          </span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Date de debut</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="dateDebut"
            placeholder="Company and date"
          />
          <span
            class="errors"
            *ngIf="
              newExperienceForm.get('dateDebut')!.hasError('required') &&
              newExperienceForm.get('dateDebut')!.touched
            "
          >
          dateDebut is required
          </span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Date de fin</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="dateFin"
            placeholder="Company and date"
          />
          <span
            class="errors"
            *ngIf="
              newExperienceForm.get('dateFin')!.hasError('required') &&
              newExperienceForm.get('dateFin')!.touched
            "
          >
          dateFin is required
          </span>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Description</label>
          <textarea
            required
            style="min-width: 100%"
            class="form-control"
            formControlName="description"
            placeholder="Description"
          ></textarea>
          <span
            class="errors"
            *ngIf="
              newExperienceForm.get('description')!.hasError('required') &&
              newExperienceForm.get('description')!.touched
            "
          >
            Description is required
          </span>
        </div>
      </div>
    </div>

    <button mat-button class="btn btn-primary" type="submit">Add</button>
  </form>
</div>
<div mat-dialog-actions *ngIf="!addNewExperience">
  <button
    mat-button
    class="btn btn-primary"
    style="margin-left: auto"
    (click)="addNew()"
  >
    Add new experience
  </button>
</div>
