
<div class="row">
  <div class="col-md-4 d-flex">
      <div class="card instructor-card w-100">
          <div class="card-body">
              <div class="instructor-inner">
                  <h6>NOMBRE DES MESSIONS</h6>
                  <h4 class="instructor-text-success">{{numberMission}}</h4>
                  <p>Nombre total</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 d-flex">
      <div class="card instructor-card w-100">
          <div class="card-body">
              <div class="instructor-inner">
                  <h6>NOMBRE DES POSTULES</h6>
                  <h4 class="instructor-text-info">{{numberPostule}}</h4>
                  <p>Nombre total</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 d-flex">
      <div class="card instructor-card w-100">
          <div class="card-body">
              <div class="instructor-inner">
                  <h6>NOMBRE DES CONTRATS</h6>
                  <h4 class="instructor-text-warning">{{numberContrat}}</h4>
                  <p>Nombre total</p>
              </div>
          </div>
      </div>
  </div>
</div>


<div style="width: 80%; margin: auto;">
    <canvas id="missionChart"></canvas>
  </div>
