.custom-btn {
  background-color: #392c7c;
  border-color: #392c7c;
  color: #fff;
}

.custom-btn:hover {
  background-color: #4a3d8a; /* Couleur un peu plus claire pour l'effet hover */
  border-color: #4a3d8a;
  color: #fff;
}
