<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-about">
                <div class="footer-logo">
                    <img src="assets/img/logo.png" alt="logo">
                </div>
                <div class="footer-about-content">
                    <p>Medianet Consulting, is an IT Training, Innovation Consulting and Integration of innovative IT Solutions firm, serving businesses</p>
                </div>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-2 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-menu">
                <h2 class="footer-title">For Company</h2>
                <ul>
                    <li><a [routerLink]="routes.login">Login</a></li>
                    <li><a [routerLink]="routes.register">Register</a></li>
                </ul>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-2 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-menu">
                <h2 class="footer-title">For Expert</h2>
                <ul>
                    <li><a [routerLink]="routes.login">Login</a></li>
                    <li><a [routerLink]="routes.registerexpert">Register</a></li>
                </ul>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-4 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-contact">
                <h2 class="footer-title">CONTACT</h2>
                <div class="news-letter">
                    <form>
                        <input type="text" class="form-control" placeholder="Enter your email address"
                            name="email">
                    </form>
                </div>
                <div class="footer-contact-info">
                    <div class="footer-address">
                        <img src="assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                        <p>  11 Rue Imem el Bakri, 1002, <br> Tunis - Tunisie</p>
                    </div>
                    <p>
                        <img src="assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                        contact@mc.com.tn
                    </p>
                    <p class="mb-0">
                        <img src="assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                        +216 71 90 29 62
                    </p>
                </div>
            </div>
            <!-- /Footer Widget -->

        </div>

    </div>
</div>
