<h5 class="subs-title" mat-dialog-title>Professional Skills</h5>
<div mat-dialog-content>
  <div class="sidebar-tag-labels">
    <ul class="list-unstyled">
      <li *ngFor="let skill of data let i = index">
        <a href="javascript:;" *ngIf="!isEditing[i]"
          >{{ skill.competenceName }}
          <mat-icon class="icon" (click)="editSkill(i)" *ngIf="!isEditing[i]"
            >edit</mat-icon
          >
          <mat-icon class="icon" (click)="deleteSkill(i)">delete</mat-icon></a
        >
        <div *ngIf="isEditing[i]" class="edit-skill-item">
          <input [formControl]="skillControls[i]" (keyup.enter)="saveEdit(i)" (blur)="saveEdit(i)" />
        </div>
      </li>
    </ul>
    <div class="new-skill-item">
      <input [formControl]="newSkillControl" placeholder="Add new skill" (keyup.enter)="ajoutstagiaire()" />
      <button mat-button class="btn btn-primary" (click)="ajoutstagiaire()">Add</button>
    </div>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="onNoClick()">Close</button>
</div>
